<section class="card p-3 blog-card justify-space-between flex-row">
  <a href="/blog/{{id}}">
    <h3>{{title}}</h3>
  </a>
  <p>By {{user.username}} on {{format_date date}} at {{format_time date}}</p>
</section>