<section class="card p-3 blog-card justify-space-between flex-row">
  <a href="/blog/{{id}}">
    <h3>{{title}}</h3>
  </a>
  <div class='justify-space-around'>
    <p>{{format_date date}} at {{format_time date}}</p>
    <a href="/blog/edit/{{id}}"><strong>EDIT</strong></a>
  </div>
</section>