{{!-- Displays a single post and also the ability to add a comment --}}
{{!-- 
'post' OBJECT  
{
    id,
    title, (blogpost title)
    content, (blogpost content)
    date, (format)
    user_id,
    user : {
        username (op's username)
        }
    comments: [
        {
            content (comment)
            date: (format)
            user: {
                username (commenter's username)
            }
        },
        ...{},
    ]
}
--}}

{{!-- TODO: Add a button for editing the post if it belongs to current user --> get request for self.handlebars--}}


<div>
    <section class="card p-3 post blog-card">
        <h3 class="title">{{post.title}}</h3>
        <hr>
        <p class='content'>{{post.content}}</p>
        <br />
        <p class = "flex-row align-end signature content">Written by {{post.user.username}} on {{format_date post.date}} at {{format_time post.date}}</p>
    </section>
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
    <button class="w3-button w3-large w3-circle w3-xlarge w3-ripple title" id="addCommentBtn">Add a comment</button>
    <br />
</div>
<div class="row">
   <textarea class="form-input" type="text" placeholder="Add a comment.." id="add-comment-content"></textarea>
</div>
<script src='/js/addComment.js'></script>