{{!-- Displays a single post and also the ability to add a comment --}}
{{!-- 
'post' OBJECT  
{
    id,
    title, (blogpost title)
    content, (blogpost content)
    date, (format)
    user_id,
    user : {
        username (op's username)
        }
    comments: [
        {
            content (comment)
            date: (format)
            user: {
                username (commenter's username)
            }
        },
        ...{},
    ]
}
--}}

{{!-- TODO: Add a button for editing the post if it belongs to current user --> get request for self.handlebars--}}


<div>
    <section class="card p-3 post blog-card">
        <h3>{{post.title}}</h3>
        <hr>
        <p>{{post.content}}</p>
        <br>
        <p class = "flex-row align-end signature">Written by {{post.user.username}} on {{format_date post.date}} at {{format_time post.date}}</p>
    </section>
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
    <a href="#" class="w3-button w3-large w3-circle w3-xlarge w3-ripple addCommentBtn">+</a>
    <br />
</div>